@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* CSS cho thanh cuộn mỏng và đẹp */
.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: #e5e7eb;
}
.scrollbar-thumb-blue-500 {
  background-color: #333;
  border-radius: 4px;
}
.scrollbar-track-gray-200 {
  background-color: #e5e7eb;
}
